<div class="upper-row">
    <div class="sort-tools">
        <select class='category'>
            <option class='translate' value="A">A - kategooria</option>
            <option class='translate' value="B">B - kategooria</option>
            <option class='translate' value="C">C - kategooria</option>
        </select>

        <select class='gearbox'>
            <option class='translate' value="automatic">Automaat</option>
            <option class='translate' value="manual">Manuaal</option>
        </select>

        <div id='place'>
            <div class='ui-widget'>
                <select id='placeDropdown'></select>
            </div>
        </div>

    </div>
    <div class="copy-tools">
        <button class="copy-last-events translate">Kopeeri eelmine nädal</button>
    </div>
</div>

<div id='calendar'></div>

<div class='calendar-legend-container'>
    <div class='single-time'>
        <div class='scheduled'>09:00</div>
        <span class='translate'>- Teise asukoha sõidutunnid</span>
    </div>
    <div class='single-time'>
        <div class='current'>09:00</div>
        <span class='translate'>- Hetke asukoha sõidutunnid</span>
    </div>
    <div class='single-time'>
        <div class='registered'>09:00</div>
        <span class='translate'>- Registreeritud sõidutunnid</span>
    </div>
    <div class='single-time'>
        <div class='done'>09:00</div>
        <span class='translate'>- Tehtud  sõidutunnid</span>
    </div>
</div>

<style type="text/css">
    .error {
        display: none;
        color: red;
    }
</style>

