<div id="cameraContainer">
    <div style="text-align:center; margin:20px;">
        <img id="cameraPic" src=""></img>
    </div>
    
    <p class="success new-pic-saved-msg translate" style="display:none;">Uus pilt on edukalt salvestatud.</p>
    <p class="error new-pic-error-msg translate" style="display:none;">Uue pildi salvestamine ebaõnnestus.</p>

    <button id="openCamera" class="camera-control translate">Uuenda pilti</button>
    <button id="confirmNewPic" class="camera-control translate" style="display:none;">Kinnita pilt</button>
</div>
<style type="text/css">
    #cameraPic {
        height: 200px;
        width: 200px;
    }
    .success {
        color: green;
    }

    .error {
        color: red;
    }
</style>