<div class="teacher-client-list">
    <table id="Clients" class="display">
        <thead>
            <tr>
                <th class="translate">Nimi</th>
                <th class="translate">Kursus</th>
                <th class="translate">E-post</th>
                <th class="translate">Telefon</th>
            </tr>
        </thead>
        
        <tbody></tbody>
    </table>
</div>

<style type="text/css">
    .toolbar {
        float:left;
    }
</style>