<div class="dashboard-content">
    
    <div class="dashboard-items">
        <a href="#drivings" id="DrivingItem" class="dashboard-item"><i class="fa fa-car"></i><span class="translate">SÕIDUD</span></a>

        <a href="#clients" id="ClientItem" class="dashboard-item"><i class="fa fa-users"></i><span class="translate">ÕPILASED</span></a>
  
        <a href="#calendar" id="CalendarItem" class="dashboard-item"><i class="fa fa-calendar"></i><span class="translate">KALENDER</span></a>
    </div>

</div>