<div class="teacher-driving-list">
    <table id="Drivings" class="display">
        <thead>
            <tr>
                <th class="translate">Kuupäev</th>
                <th class="translate">Kellaaeg</th>
                <th class="translate">Õpilane</th>
                <th class="translate">Kursus</th>
                <th class="translate">Info</th>
                <th class="translate">Staatus</th>
            </tr>
        </thead>
        
        <tbody></tbody>
    </table>
</div>
<style type="text/css">
    .toolbar {
        float:left;
    }
</style>
