
<!--ACTION-BOX-->
<div class="various-tasks">

    <div class="actions-box " style="display:none;">
        <input class="clientID" type="hidden">
        <input class="drivingID" type="hidden">
        <input class="ledgerID" type="hidden">
        <input class="clientPhone" type="hidden">
        <input class="clientEmail" type="hidden">
        <input class="clientPhoto" type="hidden">
        <input class="timestamp" type="hidden">
        <div class="profile-setting">
            <div class="image"><a href="#camera"><img src="http://www.teooria.ee/images/no-avatar.png"/></a></div>
            <div class="actions-box-header"></div>
            <div class="actions">
                <div class="activity hidden action translate" id="Dummy1">VALIK1</div>
                <div class="activity hidden cancel translate">TÜHISTA1</div>
                <div class="activity hidden cancel translate">TÜHISTA2</div>
                <div class="activity hidden action translate" id="Dummy2">VALIK2</div>
                
            </div>
        </div>
        <div class="close-container">
            <div class="activity close" onclick="$('.actions-box').slideUp();"><i class="fa fa-chevron-up"></i></div>
        </div>
    </div>

    <!-- SIGNATURE-PAD -->
    <div id="signature-pad" class="m-signature-pad <% if (typeof(activeDrivingId) !== 'undefined') { %> padding-bottom <% } %>" style="display:none;">
        <input class="drivingID" type="hidden">
        <h1 class="translate">Sõidu lõpetamine</h1>
        <div class="driving-details hidden"></div>
        <div class="start-time-container">
            <input class="datetime" type="hidden">
            <span class="translate">Algusaeg</span>
            <select>
                <option value="" class="translate">Vali aeg</option>
            </select>
            <button class="correct-time">
                <span class="translate">Paranda </span>
                (<span class="suggested-time"></span>)
            </button>
        </div>
        <div class="start-time-error-msg error hidden">
            <span clasS="translate">Sisetage algusaeg</span>
        </div>
        <div class="lesson-topic">
            <select>
                <option value="" class="translate">Vali teema</option>
            </select>
        </div>
        <div class="topic-error-msg error hidden">
            <span class="translate">Sisetage tunni teema.</span>
        </div>
        <div class="evaluation">
            <input type="radio" name="grade" value="1"/>1
            <input type="radio" name="grade" value="2"/>2
            <input type="radio" name="grade" value="3"/>3
            <input type="radio" name="grade" value="4"/>4
            <input type="radio" name="grade" value="5"/>5
        </div>
        <div class="evaluation-error-msg error hidden">
            <span class="translate">Sisetage hinne.</span>
        </div>
        <label class="signature-label translate" for="signature">Õpetaja allkiri</label>
        <div class="signature-error-msg error hidden">
            <span class="translate">Sisetage allkiri</span>
        </div>
        <div name="signature" class="m-signature-pad--body signature">
            <canvas></canvas>
        </div>
        <button class="button action translate" id="confirmBack" >TAGASI</button>
        <button class="button clear-signature translate" onclick="document.signaturePad.clear();">PUHASTA</button>
        <button class="button action translate" id="forward" value="">EDASI</button>
        <button class="button action hidden translate" id="close" onclick="$('#signature-pad').slideDown();" >SULGE</button>
    </div>

    <!-- ACTIVE DRIVING RIBBON -->
    <div class="active-driving <% if (typeof(activeDrivingId) === 'undefined') { %> hidden <% } %>">
        <i class="fa fa-clock-o"></i>
        <input type="hidden" class="drivingID" value="<%= activeDrivingId %>">
        <input type="hidden" class="clientName" value="">
        <input type="hidden" class="datetime" value="">
        <div class="speed-container" style="display:inline-block; float:left; font-size: 20px;">
            <span id="ActiveDrivingSpeed">0</span>
            <span id="ActiveDrivingSpeedLabel">km/h</span>
        </div>
        <span id="ClientName" class="translate">Aktiive sõit <%= activeStudent %></span> - 
        <span id="StartTime" class="translate">Alustatud <%= activeStartTime %></span> - 
        <span id="Timer" class="translate">Kestvus </span><span id="TimerPlaceholder"><%= activeDrivingClock %></span>
    </div>

    <!-- NEW DRIVING REGISTER FROM -->
    
    <div class="registering-form <% if (typeof(activeDrivingId) !== 'undefined') { %> padding-bottom <% } %>" style="display:none;">
        <form id="NewDrivingForm">
            <input type="hidden" class="clientID" value>
            <input type="hidden" class="ledgerID" value>
        
            <h1 id="StudentName" class="name">Nimi</h1>
                
            <select id="timestamp"></select>
            
            <div>
                <button class="activity translate" id="SaveNewDriving">SALVESTA</button>
                <button class="activity close translate" onclick="$('.registering-form').slideUp(); return false;">SULGE</button>
            </div>
        </form>
    </div>

    <!-- VIEW DRIVING CONTAINER -->
    <div id="driving-details-container" class="<% if (typeof(activeDrivingId) !== 'undefined') { %> padding-bottom <% } %>" style="display:none;">
        <h1><span class="lesson-no"></span><span class="translate">. sõidutund</span></h1>
        <p class="student-name"></p>
        <div class="details">
            <p class="date"></p>
            <p class="place"></p>
        </div>
        <h2 class="topic"></h2>
        <p class="comments"></p>

        <div>
            <button class="activity close translate" onclick="$('#driving-details-container').slideUp(); return false;">SULGE</button>
        </div>
    </div>

</div>

<!--FOOTER-->
    <div class="footer-details">
        <span><%= teacherLabel %></span>
        <span>v1.0.0</span>
    </div>
<style type="text/css">
    .hidden {
        display: none!important;
    }

    .error {
        color: red;
    }

</style>
<script type="text/javascript">

    function stopPropagation(event) {
        if (event.stopPropagation !== undefined) {
            event.stopPropagation();
        } else {
            event.cancelBubble = true;
        }
    }
</script>