<!--HEADER-->
<div class="header">
    <% if (typeof(window.sessionStorage.teacher) !== "undefined" ) { %>
        <div class="header-logo">
            
            <% if ( document.URL.indexOf("#home") < 0) { %>
                <a href="#home">
                    <img class="logo" alt="Teooria.ee Autokool Internetis" src="http://www.teooria.ee/upload/structureimages/logo.png">
                </a>
                <button class="backButton" class="button back"><i class="fa fa-chevron-left"></i></button>
            <% } else { %>
                <img class="logo" alt="Teooria.ee Autokool Internetis" src="http://www.teooria.ee/upload/structureimages/logo.png">
                <button class="exitButton" class="button exit"><i class="fa fa-close"></i></button>
            <% } %>
            <button class="nav-trigger"><i class="fa fa-bars"></i></button>
        </div>
    <% } else {%>
        <div class="header-logo" >
            <img class="logo" alt="Teooria.ee Autokool Internetis" src="http://www.teooria.ee/upload/structureimages/logo.png">
            <button class="exitButton" class="button exit"><i class="fa fa-close"></i></button>
        </div>
    <% } %>
</div>
<div class="teacher-navigation-bar navi">
    <a href="#drivings">
        <div id="DrivingItem" class="dashboard-item nav"><span class="translate">SÕIDUD</span></div>
    </a>

    <a href="#clients">
        <div id="ClientItem" class="dashboard-item nav"><span class="translate">ÕPILASED</span></div>
    </a>

    <a href="#calendar">
        <div id="CalendarItem" class="dashboard-item nav"><span class="translate">KALENDER</span></div>
    </a>

    <a href="#settings">
        <div id="SettingsItem" class="dashboard-item nav"><span class="translate">SEADED</span></div>
    </a>
    
    <a id="logout" class="button logout">
        <div class="logout-item nav"><span class="translate">LOGI VÄLJA</span></div>
    </a>
</div>



