<div class="login-content">
    <div class="login-box">
        <form class="form-horizontal">
          <div class="control-group">
            <div class="controls">
              <input type="email" id="inputEmail" value="<% if (typeof loginName !== 'undefined') { %> <%=loginName%> <% } %>" placeholder="E-posti aadress">
            </div>
          </div>
          <div class="control-group">
            <div class="controls">
              <input type="password" id="inputPassword" value="<% if (typeof passw !== 'undefined') { %> <%=passw%> <% } %>" placeholder="Parool">
            </div>
          </div>
          <div class="control-group">
            <div class="controls">
              <button type="submit" class="btn translate" id="loginButton">Sisene</button>
              <input type="checkbox" id="rememberMe" <% if (typeof loginName !== 'undefined') { %> checked="true" <% } %>> <span class="translate">Jäta mind meelde</span>
            </div>
          </div>
        </form>
        <div class="alert alert-error" style="display:none;">
        </div>
    </div>
</div>