<h1 class='translate'>SEADED</h1>

<div class='durations'>
    <label for='duration' class='translate'>Tunni kestvus</label>
    <input class='option' type='radio' name='duration' value='45'><span class='translate'> 45 minutit</span>
    <input class='option' type='radio' name='duration' value='50'><span class='translate'> 50 minutit</span>
    <input class='option' type='radio' name='duration' value='60'><span class='translate'> 60 minutit</span>
</div>

<div class='languages'>
    <label for='lang' class='translate'>Keel</label>
    <input class='option' type='radio' name='lang' value='ee'><span class='translate'> EE</span>
    <input class='option' type='radio' name='lang' value='ru'><span class='translate'> RU</span>
    <input class='option' type='radio' name='lang' value='en'><span class='translate'> EN</span>
</div>