@CHARSET "UTF-8";
@font-face {
  font-family: 'Etelka';
  src: url('fonts/etelkatext-webfont.eot');
  src: url('fonts/etelkatext-webfont.eot?#iefix') format('embedded-opentype'),
   url('fonts/etelkatext-webfont.woff') format('woff'),
   url('fonts/etelkatext-webfont.ttf') format('truetype'),
   url('fonts/etelkatext-webfont.svg#EtelkaTextProRegular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'EtelkaItalic';
  src: url('fonts/etelkatextitalic-webfont.eot');
  src: url('fonts/etelkatextitalic-webfont.eot?#iefix') format('embedded-opentype'),
  url('fonts/etelkatextitalic-webfont.woff') format('woff'),
  url('fonts/etelkatextitalic-webfont.ttf') format('truetype'),
  url('fonts/etelkatextitalic-webfont.svg#EtelkaTextProItalic') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'EtelkaBold';
  src: url('fonts/etelkatextbold-webfont.eot');
  src: url('fonts/etelkatextbold-webfont.eot?#iefix') format('embedded-opentype'),
  url('fonts/etelkatextbold-webfont.woff') format('woff'),
  url('fonts/etelkatextbold-webfont.ttf') format('truetype'),
  url('fonts/etelkatextbold-webfont.svg#EtelkaTextProBold') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'EtelkaBoldItalic';
  src: url('fonts/etelkatextbolditalic-webfont.eot');
  src: url('fonts/etelkatextbolditalic-webfont.eot?#iefix') format('embedded-opentype'),
  url('fonts/etelkatextbolditalic-webfont.woff') format('woff'),
  url('fonts/etelkatextbolditalic-webfont.ttf') format('truetype'),
  url('fonts/etelkatextbolditalic-webfont.svg#EtelkaTextProBoldItalic') format('svg');
  font-weight: normal;
  font-style: normal;
}
.element:after {
  content: "";
  display: table;
  clear: both;
}
a:active, a:focus, a{
    outline: 0;
    text-decoration: none;
}
::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    #333;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    #333;
   opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    #333;
   opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color:    #333;
}
html, body{
  padding: 0px;
  margin: 0px;
}
html, body, header, article, div, footer{
  box-sizing: border-box;
}
body{
  background: url('images/bg.jpg') repeat top left;
  font-family: Verdana;
  padding-top: 67px;
}
* {
  outline: none;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-tap-highlight-color: transparent; /* For some Androids */
}
*:focus {
  outline-color: transparent;
  outline-style: none;
}
button, h1, h2, h3, h4, h5, h6{
  font-family: 'Etelka', Tahoma;
}
button{
  background: #3498db;
  letter-spacing: 1px;
  padding: 10px 15px;
  font-size: 17px;
  cursor: pointer;
  border: 0px;
  color: #fff;
  outline: none;
}
button:active{
  opacity: 0.8;
}
button .fa {
  font-size: 32px;
}
input[type="email"], input[type="password"], input[type="text"], select, input[type="search"] {
  background: #fff;
  border: 0px;
  box-sizing: border-box;
  margin-bottom: 10px;
  font-size: 14px;
  outline: none;
  font-family: 'Open Sans', 'Tahoma';
  color: #333;
  height: 41px;
  padding-left: 10px; 
  padding-right: 10px;
  border-radius: 0px;
}
select{
  background: #fff url('../img/arrow-down.png') no-repeat right center;
  padding-right: 25px;
  -webkit-appearance: none;
  -moz-appearance: none;
}

/* Log in */
.login-box {
/*  min-height: 200px;*/
  width: 100%;
  max-width: 330px;
  padding: 20px;
  background: rgba(0,0,0,0.2);
  text-align: center;
  box-sizing: border-box;
  left: 50%;
  position: absolute;
  margin-left: -165px;
  top: 50%;
  margin-top: -100px;
}
.login-box input[type="email"], .login-box input[type="password"], .login-box input[type="text"], .login-box select{
  width: 100%;
}
.login-box .control-group:last-child .controls{
  color: #fff;
  text-align: left;
}
.login-box .alert {
  margin-top: 15px;
  text-align: left;
  color: #ffc22e;
}

/* Header */
.header-line{
  height: 10px;
  background: url('images/header-line.jpg') repeat bottom left;
}
.header button{
  float: left;
  background: none;
  text-align: center;
  height: 67px;
  width: 67px;
  background: #2A7CB0;
}
.header button.nav-trigger{
  background: #2A7CB0;
  float: right;
}
.header-logo{
  text-align: center;
  background: rgba(44, 154, 220, 0.9);
  box-shadow: 0px 3px 9px 0px #333;
  height: 67px;
  position: fixed;
  width: 100%;
  top: 0px;
  z-index: 9999999;
}
.header-logo .logo{
  top: 2px;
  position: relative;
  padding: 3px 0;
}
.navi{
  display: none;
  background: #2A7CB0;
  top: 67px;
  width: 100%;
  z-index: 99999;
  left: 0px;
  position: fixed;
}
.navi a span{
  font-family: 'Etelka', Tahoma;
  font-size: 20px;
  color: #fff;
  padding-bottom: 0;
  padding: 15px 0;
  display: block;
  text-align: center;
  cursor: pointer;
  border-bottom: 2px solid #3785B5;
}
.navi a{
  text-decoration: none;
  display: block;
}
.navi a span:active, .navi a span:hover{
  background: rgba(0,0,0,0.1);
}

/* Sisu */
.content-area {
  padding: 20px 20px 55px 20px;
}

/* Tabelid */
.toolbar {
  font-family: Tahoma;
  color: #fff;
  font-size: 30px;
  text-shadow: 1px 1px 3px #111;
  letter-spacing: 1px;
  margin-top: 20px;
}
.dataTables_length {
  width: 50%;
  text-align: left;
  margin: 10px 0;
}
.dataTables_wrapper .dataTables_filter{
  width: 50%;
  margin: 10px 0;
}
.dataTables_length label, .dataTables_wrapper .dataTables_filter label{
  font-family: 'Etelka', Tahoma;
  color: #fff;
  text-shadow: 1px 1px 3px #000;
  font-size: 22px;
}
.dataTables_length select{
  margin-left: 5px;
  margin-right: 5px;
}
.dataTables_wrapper table thead, .dataTables_info, .dataTables_paginate{
  font-family: Tahoma;
  color: #fff !important;
  text-shadow: 1px 1px 3px #000;
  font-size: 18px;
  text-align: left;
}
table.dataTable thead th, table.dataTable td{
  padding: 15px 10px !important;
}
table#Drivings thead th{
  padding: 10px !important;
}
.dataTables_wrapper table thead{
  background: rgba(0,0,0,0.3)
}
.paging_simple_numbers{
  margin-top: 10px;
}
.paging_simple_numbers a{
  color: #fff !important;
  cursor: pointer !important;
  padding: 0px !important;
  margin: 0px 10px 0px 10px !important;
  height: 30px;
}
.dataTables_wrapper .dataTables_paginate .ellipsis {
  padding: 0px !important;
}
.dataTables_wrapper .dataTables_paginate > span{
  margin: 0px 10px;
}
.dataTables_wrapper .dataTables_paginate .paginate_button{
  margin: 0px 8px !important;
  min-width: 0px !important;
  padding-top: 3px !important;
}
.paging_simple_numbers a.paginate_button{
  border: 0px !important;
  background: none !important;
  margin: 0px !important;
}
.paging_simple_numbers a:last-child{
  margin-left: 15px;
}
.paging_simple_numbers a.current{
  background: rgba(0,0,0,0.4) !important;
  border-radius: 50%;
  width: 30px
}
.paging_simple_numbers .dataTables_paginate{
  cursor: pointer;
}
.dataTables_wrapper table thead th{
  font-weight: normal;
}
table.dataTable thead input#datepicker{
  background: #fff url('../img/arrow-down.png') no-repeat right center;
  padding-left: 10px;
}
.ui-datepicker .ui-datepicker-header{
  color: #333;
}

/* Dashboard */
.content-area .dashboard-items {
  width: 70%;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 50px;
}
.content-area .dashboard-item {
  display: inline-block;
  position: relative;
  height: 190px;
  width: 30%;
  padding-top: 25px;
  margin: 1%;
  border: 1px solid #333;
  background: rgba(0,0,0,0.3);
  color: #efefef;
  text-align: center;
  text-shadow: 1px 1px 3px #000;
}
.content-area .dashboard-item:active{
  background: rgba(0,0,0,0.2);
}
.content-area .dashboard-item i {
  font-size: 100px;
  color: #fff;
  opacity: 0.15;
}
.content-area .dashboard-items .dashboard-item span{
  position: absolute;
  bottom: 0;
  width: 100%;
  left: 0px;
  font-family: Etelka, Tahoma;
  font-size: 27px;
  font-weight: normal;
  letter-spacing: -1px;
  color: #efefef;
  text-shadow: 0px 1px 2px #000;
  padding-bottom: 10px;
}
#Drivings input#datepicker{
  margin-bottom: 0px;
}

/* Aktiivne sõit */
.active-driving {
  position: fixed;
  bottom: 0px;
  left: 0px;
  width: 100%;
  text-align: center;
  background: #27ae60;
  padding: 15px;
  color: #fff;
  text-shadow: 1px 1px 2px #196E3C;
  box-sizing: border-box;
  z-index: 2;
  line-height: 33px;
}
.active-driving i.fa{
  font-size: 25px;
  position: relative;
  top: 3px;
  opacity: 0.6;
  text-shadow: 1px 1px 2px #196E3C;
}

/* Sõidu popup */
.actions-box {
  position: fixed;
  left: 0px;
  width: 100%;
  background: #fff;
  top: 0px;
  border: 1px solid #efefef;
  box-shadow: 0px -3px 10px #333;
  padding: 10px 10px 20px 10px;
  text-align: center;
  box-sizing: border-box;
  border-bottom: 5px solid #3E9BD5;
  box-shadow: 0px 1px 4px #000;
  padding-top: 90px;
}
.actions-box .activity, .actions-box .cancel{
  width: 100%;
  padding: 15px;
  background: #2A7CB0;
  box-sizing: border-box;
  margin: 0 auto;
  margin-bottom: 10px;
  color: #fff;
  max-width: 350px;
  display: block;
  cursor: pointer;
  margin-left: 0px;
}
.actions-box .activity.close {
  background: #3E9BD5;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  text-align: center;
  margin-left: -20px;
  bottom: -103px;
  cursor: pointer;
  box-shadow: 0px 2px 3px -2px #000;
  padding: 10px;
  float: none;
  position: relative;
  left: 0px;
  top: 0px;
  display: inline-block;
}
.actions-box .activity.close i.fa{
  font-size: 20px;
  margin-top: -1px;
}
.close-container{
  width: 100%;
  position: relative;
  height: 0px;
  float: left;
}
.actions-box .cancel{
  background: #e74c3c;
}
.actions-box h1{
  color: #2A7CB0;
  font-size: 28px;
  margin: 0px;
}
.actions-box p{
  color: #afafaf;
  font-size: 14px;
  margin-top: 0px;
  font-family: 'Open Sans', 'Tahoma';
}
.actions-box .actions{
  position: relative;
}
.actions-box-header p a{
  color: #2A7CB0;
  font-size: 17px;
}
.actions-box-header{
  margin-bottom: 10px;
}
.actions-box-header p {
  margin-bottom: 0px;
  display: inline-block;
}

/* Kalender */
.fc-time-grid .fc-event {
  background: #cfcfcf !important;
  border: 0.5px solid #FFF!important;
}
.fc-event.current {
  background: #999999 !important;
  color: #fff !important;
  border: 1px solid #999999 !important;
}
.fc-event.registered{
  background: #C0392B !important;
  color: #fff !important;
  border: 1px solid #C0392B !important;
}
.fc-event.done{
  background: #48AF73 !important;
  color: #fff !important;
  border: 1px solid #48AF73 !important;
}
.fc-state-disabled{
  opacity: 1.0 !important;
  background: #fdf5ce !important;
}
.fc-widget-header{
  background: none !important;
  border: 0px !important;
  margin: 0px !important;
}
.fc-scroller{
  overflow-y: inherit !important;
  overflow-x: inherit !important;
  height: auto !important;
}
.fc-day-grid-event .fc-content{
  white-space: normal !important;
}
.fc-widget-header th{
  background: rgba(0,0,0,0.3) !important;
  border: 0px !important;
  padding: 10px !important;
  font-size: 18px  !important;
  text-shadow: 1px 1px 3px #000;
}
.fc-widget input, .fc-widget select, .fc-widget textarea, .fc-widget button{
  font-family: 'Etelka', Tahoma !important;
}
#calendar h2{
  color: #fff;
  text-shadow: 1px 1px 3px #000;
  margin-top: 9px;
}
#calendar .fc-toolbar button{
  border-radius: 0px !important;
  text-transform: capitalize;
  font-size: 20px !important;
  border: 0px;
  box-shadow: 1px 1px 4px #333;
  color: #2A7CB0;
  min-width: 42px;
}
#calendar .fc-toolbar button.fc-state-active{
  background: #fdf5ce !important; 
}
.fc-toolbar .fc-state-hover, .fc-toolbar button:focus{
  z-index: 0 !important;
}
.fc-toolbar{
  margin-bottom: 14px !important;
}
#calendar .fc-toolbar .fc-left button.fc-prev-button {
  background: #fff url('../img/arrow-left.png') no-repeat center;
}
#calendar .fc-toolbar .fc-left button.fc-next-button {
  background: #fff url('../img/arrow-right.png') no-repeat center;
}
#calendar .fc-toolbar .fc-left button.fc-prev-button span{
  display: none;
}
#calendar .fc-toolbar .fc-left button.fc-next-button span{
  display: none;
}
#calendar .fc-widget-content{
  background: #f9f9f9 !important;
}
.fc-widget-content .fc-state-highlight{
  border: 0px !important;
}
.fc-widget-content.fc-today{
  background: #fff !important;
}
.fc td.fc-today {
  border-style: double;
  border-top: 1px solid #ddd !important;
}
.fc-event {
  border-radius: 0px;
  background-color: #3a87ad;
  padding: 5px !important;
}
.fc-event{
  padding: 2px !important;
}
.fc-event, .fc-event:hover{
  border-radius: 0px !important;
}
.fc-time span{
  font-weight: bold;
}
.content-area div span.places-combobox input.places-combobox-input{
  background: #fff;
  border: 0px;
  box-sizing: border-box;
  margin-bottom: 10px;
  font-size: 14px;
  outline: none;
  font-family: 'Open Sans', 'Tahoma';
  color: #333;
  height: 41px;
  padding-left: 10px;
  padding-right: 32px;
  border-radius: 0px;
  font-weight: normal;
}
.content-area div span.places-combobox a.ui-button{
  background: #fff url('../img/arrow-down.png') no-repeat right center;
  border: 0px;
  box-sizing: border-box;
  margin-bottom: 2px;
  font-size: 14px;
  outline: none;
  font-family: 'Open Sans', 'Tahoma';
  color: #333;
  height: 39px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 0px;
  margin-left: -32px;
  margin-right: 10px;
  float: right;
  position: relative;
  top: 1px;
}
.content-area div span.places-combobox a.ui-button span{
  display: none;
}
.ui-tooltip.ui-widget.ui-corner-all.ui-widget-content {
  color: #fff;
  border: 0px;
  border-radius: 0px !important;
  box-shadow: none;
  background: rgba(44, 154, 220, 0.9) !important;
  display: none !important;
}
.fc .fc-button-group>*{
  margin: 0px !important;
}
.ui-menu .ui-menu-item {
  font-weight: normal !important;
  font-family: 'Open Sans', 'Tahoma';
  font-size: 15px;
}
.fc-event .fc-bg{
  background: none !important;
}
#calendar thead .fc-widget-header span, #calendar thead .fc-widget-header th{
  color: #fff;
}
.fc-agenda-view .fc-day-grid{
  border-bottom: 1px solid #efefef;
}
hr.fc-divider.fc-widget-header{
  display: none;
}
div#place {
  display: inline-block;
}
span.places-combobox{
  position: relative;
  display: inline-block;
}
span.places-combobox .error{
  position: absolute;
  top: 41px;
  left: 0px;
  background: #D95C4E;
  color: #fff;
  padding: 3px 5px;
  border: 0px;
  font-size: 13px;
}
.durations{
  display: inline-block;
  margin: 0px;
  color: #fff;
  text-shadow: 1px 1px 3px #000;
  position: relative;
  top: 1px;
  margin-bottom: 13px;
}
.durations label{
  color: #fff;
}
.durations input.option {
  margin-right: -2px;
  margin-left: 10px;
  top: 1px;
  position: relative;
}
.durations label {
  color: #fff;
  font-family: 'Etelka', Tahoma;
  font-size: 20px;
}
.calendar-legend-container{
  background: rgba(255,255,255,0.5);
  padding: 10px 20px;
  margin-top: 20px;
  float: left;
  width: 100%;
  overflow: hidden;
  margin-bottom: 60px;
}
.calendar-legend-container .single-time div{
  float: left;
}
.calendar-legend-container .single-time{
  margin: 5px 0;
  float: left;
  width: auto;
  margin-right: 25px;
}
.calendar-legend-container .single-time .scheduled{
  background: #cfcfcf !important;
  font-size: 13px;
  padding: 3px 5px;
  font-weight: bold;
  margin-right: 5px;
}
.calendar-legend-container .single-time .current{
  background: #999999 !important;
  color: #fff;
  font-size: 13px;
  padding: 3px 5px;
  font-weight: bold;
  margin-right: 5px;
}
.calendar-legend-container .single-time .done{
  background: #48AF73 !important;
  color: #fff;
  font-size: 13px;
  padding: 3px 5px;
  font-weight: bold;
  margin-right: 5px;
}
.calendar-legend-container .single-time .registered{
  background: #C0392B !important;
  color: #fff;
  font-size: 13px;
  padding: 3px 5px;
  font-weight: bold;
  margin-right: 5px;
}
.fc-time-grid-event .fc-title{
  position: relative;
  bottom: 3px;
}
.fc-time-grid-event .fc-time{
  float: left;
  margin-right: 3px;
}

/* Footer */
footer{
  text-align: center;
  background: rgba(44, 154, 220, 0.9);
  color: #fff;
  position: fixed;
  width: 100%;
  box-sizing: border-box;
  bottom: 0px;
  z-index: 10; /*ARGO LISATUD*/
}
footer .footer-details{
  padding: 10px;
  box-sizing: border-box;
}

/* Tegevused */
.various-tasks {
  position: fixed;
  width: 100%;
  bottom: -5px;
  background: #fff;
  color: #000;
  border-top: 5px solid #3E9BD5;
}
.various-tasks select{
  background: #efefef url('../img/arrow-down.png') no-repeat right center;
  border: 1px solid #dfdfdf;
}
.various-tasks label.signature-label {
  margin-top: 10px;
  display: block;
}
.various-tasks h1 {
  margin: 0px 0px 10px 0;
  color: #2A7CB0;
  font-size: 28px;
  font-family: 'Etelka', Tahoma;
}
.various-tasks .signature canvas {
  background: #efefef;
  border: 3px solid #dfdfdf;
  box-shadow: inset 0px 0px 5px #999;
  margin: 10px 0;
}
.various-tasks .tasks-close{
  background: #3E9BD5;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  text-align: center;
  cursor: pointer;
  box-shadow: 0px 2px 3px -2px #000;
}
.various-tasks .tasks-close i.fa{
  font-size: 20px;
}
.various-tasks .registering-form, #driving-details-container, #signature-pad{
  padding: 15px 0 20px 15px;
}
.padding-bottom{
  padding-bottom: 80px !important;
}
.various-tasks .profile-setting{
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
}
.various-tasks .profile-setting .image{
  float: left;
  width: 40%;
  max-width: 220px;
  padding-right: 20px;
  box-sizing: border-box;
  min-height: 200px;
  margin-bottom: 10px;
}
.various-tasks .profile-setting img{
  width: 100%;
  height: auto;
  max-height: 200px;
}
.various-tasks .profile-setting .btn-container{
  float: left;
  margin-left: -10px;
}
.various-tasks .profile-setting .actions-box-header, .various-tasks .profile-setting .actions{
  width: 63%;
  float: left;
}
.various-tasks .profile-setting h1{
  text-align: left;
  padding: 0px;
  margin-bottom: 0px;
}

/* Action box */
.actions-box-header p {
  margin: 5px 0px;
  float: left;
}

.actions-box-header p a i {
  font-size: 36px;
  margin: 0px 10px;
  position: relative;
  top: 1px;
}

/* Camera */
div#cameraContainer {
    text-align: center;
}
div#cameraContainer button{
  margin: 0px 5px;
}

@media screen and (max-width: 1000px) {
  .content-area .dashboard-items{
    width: 100%;
  }
}
@media screen and (max-width: 767px) {
  .fc-toolbar .fc-center, .fc-toolbar .fc-right, .fc-toolbar .fc-left{
    width: 100%;
    text-align: center;
  }
  #calendar h2 {
    width: 100%;
  }
  .fc-toolbar .fc-center, .fc-toolbar .fc-right{
    margin-top: 15px;
  }
  .fc-button-group{
    float: none !important;
  }
}
@media screen and (max-width: 640px) {
  .various-tasks .profile-setting .image{
    min-height: 0px;
    width: 100%;
  }
  .actions-box .activity, .actions-box #CancelDriving{
    max-width: 100%;
  }
  .various-tasks .profile-setting .actions-box-header, .various-tasks .profile-setting .actions{
    width: 100%;
  }
  .dataTables_wrapper .dataTables_filter, .dataTables_length{
    width: 100%;
  }
  .content-area .dashboard-items .dashboard-item{
    width: 100%;
    padding-top: 10px;
    margin: 10px 0;
  }
  .content-area .dashboard-item{
    height: 165px;
  }
  .toolbar {
    float: left;
    width: 100%;
    text-align: center;
    margin-bottom: 15px;
  }
}
@media screen and (max-width: 520px) {
  .sort-tools select, .sort-tools span.places-combobox{
    width: 100%;
  }
  .sort-tools input.places-combobox-input{
    width: 100%;
  }
  .content-area div span.places-combobox a.ui-button{
    position: absolute;
    right: -10px;
    top: 0px;
  }
  .durations label{
    display: block;
    text-align: center;
  }
}
@media screen and (max-width: 400px) {
  .login-box .control-group:last-child .controls button{
    width: 100%;
    margin-bottom: 7px;
  }
  .header button{
    width: 16%;
    padding: 10px;
  }
  .header-logo .logo{
    max-width: 185px;
    margin: 5px 5px 0px 0px;
  }
  .dataTables_length label, .dataTables_wrapper .dataTables_filter label{
    font-size: 19px;
  }
  .dataTables_length select {
    margin-left: 2px;
    margin-right: 2px;
  }
  #calendar .fc-toolbar button{
    font-size: 18px !important;
  }
}
@media screen and (max-width: 450px){
  .dataTables_wrapper .dataTables_paginate > span{
    display: none;
  }
}

.fc-time-grid .fc-slats td {
    height: 3.5em!important;
}